@using Web.Core.HamrahLoanHeaders

@{
    ViewBag.Title = "لیست تسهیلات همراه";
}

<div class="m-portlet">
    <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text">
                    لیست تسهیلات همراه
                </h3>
            </div>
        </div>
    </div>
    <div class="m-portlet__body">
        <div class="k-rtl">
            <div id="report-grid"></div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            const dataSource = new kendo.data.DataSource({
                transport: {
                    read: {
                        url: '@Url.Action(nameof(HamrahLoanHeadersController.GetRecords))',
                        dataType: "json",
                        type: 'GET'
                    },
                    parameterMap: function(options) {
                        return `models= ${kendo.stringify(options)}`;
                    }
                },
                schema: {
                    data: "Data",
                    total: "Total"
                },
                error: function(e) {
                    alert(e.errorThrown);
                },
                pageSize: 10,
                serverPaging: true,
                serverFiltering: true,
                serverSorting: true
            });

            var grid = $("#report-grid").kendoGrid({
                dataSource: dataSource,
                autoBind: true,
                detailInit: detailInit,
                scrollable: false,
                pageable: {
                    buttonCount: 5,
                    refresh: true,
                    input: true,
                    pageSizes: [5, 10, 15, 20, 25, 50, 100],
                    info: true
                },
                sortable: true,
                filterable: {
                    mode: "menu",
                    messages: {
                        selectedItemsFormat: "{0} آیتم انتخاب شده",
                        search: "جستجو",
                        checkAll: "انتخاب همه",
                        clear: "لغو",
                        filter: "اعمال"
                    }
                },
                toolbar: [{
                    template:
                        `<button class="k-button" data-title="ثبت فایل" data-link="@Url.Action(nameof(HamrahLoanHeadersController.GetDetail))"><span class="k-icon k-i-add"></span>ثبت فایل جدید</button>`
                }],
                reorderable: true,
                columnMenu: true,
                columns: [
                    { field: "Id", hidden:true },
                    { field: "Title", title: "عنوان", media: "(min-width: 450px)" },
                                        {
                        field: "Status", title: "وضعیت", media: "(min-width: 450px)",
                        filterable: {
                            ui: function FacilityFilter(element) {
                                element.kendoDropDownList({
                                    dataTextField: "Text",
                                    dataValueField: "Value",
                                    dataSource: {
                                        transport: {
                                            read: {
                                                url: '@Url.Action(nameof(HamrahLoanHeadersController.GetRecordsStatusHeader))',
                                                dataType: "json",
                                                type: 'GET'
                                            }
                                        }
                                    }
                                });
                            }
                        },
                        template:"#:getHamrahLoanStatus(Status)#"
                    },
                    { field: "StatusDate", template: "#:StatusDate != null ? moment(StatusDate).format('jYYYY/jMM/jDD') : '---'#", title: "تاریخ تغییر وضعیت", media: "(min-width: 450px)" },
                    { field: "DetailsCount", title: "تعداد تسهیلات", media: "(min-width: 450px)" },
                    { field: "UserCreate", title: "کاربر ثبت کننده", media: "(min-width: 450px)" },
                    { field: "BranchTitle", title: "شعبه", media: "(min-width: 450px)" },
                    { field: "BranchCode", title: "کد شعبه", media: "(min-width: 450px)" },
                    { field: "CreateDate", template: "#:CreateDate != null ? moment(CreateDate).format('jYYYY/jMM/jDD') : '---'#",title: "تاریخ ایجاد", media: "(min-width: 450px)" },
                    {
                        title: "جزئیات", template: kendo.template($("#responsive-column-template").html()), media: "(max-width: 450px)"
                    },
                    {
                        title: "عملیات",
                        template:
                            '<a class="k-button" href="@Url.Action("IndexDetail", "HamrahLoanHeaders")?headerId=#:Id#"><span class="k-icon k-i-document-manager"></span>جزییات</a>'
                    }
                ]
            }).data("kendoGrid");
            grid.table.on("click", ".checkbox", selectRow);

            function detailInit(e) {
            $("<div/>").appendTo(e.detailCell).kendoGrid({
                dataSource: {
                    transport: {
                        read: {
                            url: '@Url.Action(nameof(HamrahLoanHeadersController.GetRecordsDetail))',
                            dataType: "json",
                            type: 'GET'
                        },
                        parameterMap: function(options) {
                            return `models=${kendo.stringify(options)}`;
                        }
                    },
                    schema: {
                        data: "Data",
                        total: "Total"
                    },
                    serverPaging: true,
                    serverSorting: true,
                    serverFiltering: true,
                    pageSize: 10,
                    filter: { field: "HeaderId", operator: "eq", value: e.data.Id }
                },
                scrollable: false,
                sortable: true,
                pageable: true,
                columns: [
                    { field: "Id", hidden: true },
                    { field: "LoanNumber", title: "شماره", media: "(min-width: 450px)" },
                    { field: "Amount", title: "مبلغ", media: "(min-width: 450px)" },
                    { field: "LoanDate", template: "#:LoanDate != null ? moment(LoanDate).format('jYYYY/jMM/jDD') : '---'#", title: "تاریخ تسهیلات", media: "(min-width: 450px)" },
                    { field: "FolowNumber", title: "شماره پیگیری", media: "(min-width: 450px)" },

                    { field: "Status", title: "وضعیت", media: "(min-width: 450px)" },
                    { field: "StatusDate", template: "#:StatusDate != null ? moment(StatusDate).format('jYYYY/jMM/jDD') : '---'#", title: "تاریخ تغییر وضعیت", media: "(min-width: 450px)" },
                    { field: "UserChangeStatus", title: "کاربر ثبت وضعیت", media: "(min-width: 450px)" },
                    { field: "CreateDate", template: "#:CreateDate != null ? moment(CreateDate).format('jYYYY/jMM/jDD') : '---'#", title: "تاریخ ایجاد", media: "(min-width: 450px)" },
                ]
            });
        }
        });
    </script>
    <script id="responsive-column-template" type="text/x-kendo-template">
        <strong>عنوان</strong>
        <p class="col-template-val">#:data.Title#</p>
    </script>
    <script>
        function getHamrahLoanStatus(hamrahLoanStatus) {
            switch (hamrahLoanStatus) {
                case 1:
                    return "درحال بررسی";
                case 2:
                    return "بررسی شده";
                default:
                    return "";
            }
        }
    </script>
}